<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>Polyevent</title>
</h:head>
<h:body>
    <h1>PolyEvent web interface</h1>

    <h2>Connected as #{eventBean.email}</h2>

    <h:messages id="form-error" style="color: red"/>

    <h2>Create a new event</h2>
    <f:view>
        <h:form email="select-form">
            <h:panelGrid columns="2">
                <h:outputText value='Name:'/>
                <h:inputText value='#{eventBean.name}' required="true"/>
                <h:outputText value='Starting date:'/>
                <h:inputText value='#{eventBean.startDate}' required="true"/>
                <h:outputText value='Ending date:'/>
                <h:inputText value='#{eventBean.endDate}' required="true"/>
                <h:outputText value='Number of attendee:'/>
                <h:inputText value='#{eventBean.nbAttendee}' required="true"/>
                <h:selectManyMenu style="height:100px; width: 200px" value='#{eventBean.selProviders}'>
                    <f:selectItems value="#{eventBean.providers}" var="f" itemLabel="#{f.name} -- #{f.type}" itemValue="#{f.id}"/>
                </h:selectManyMenu>
                <h:commandButton action="#{eventBean.registerEvent}" value="Create"/>
            </h:panelGrid>
        </h:form>
    </f:view>

    <h2>List of your events</h2>
    <f:view>

        <ul>
            <!-- Warning: ui:repeat requires a List instead of a Set -->
            <ui:repeat var="i" value="#{eventBean.events}">
                <li><h:outputText value="#{i.name}"/> (<h:outputText value="#{i.startingDate}"/> - <h:outputText
                        value="#{i.endingDate}"/>) STATUS : <h:outputText value="#{i.status}"/></li>
            </ui:repeat>
        </ul>

    </f:view>

</h:body>
</html>