<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>PolyEvent : Event Status</title>
</h:head>

<h:body>

    <h1>PolyEvent Web Event Tracker</h1>

    <h2>Information for Event #{trackerBean.eventName}</h2>

    <ul>
        <li><h:outputText value='Event status: #{trackerBean.status}'/> </li>
        <ui:repeat var="i" value="#{trackerBean.providerSet}">
            <li><h:outputText value="#{i.name}"/> (<h:outputText value="#{i.type}"/> - <h:outputText
                    value="#{i.address}"/>) </li>
        </ui:repeat>
    </ul>

</h:body>

</html>